[submodule "src/merm-schema"]
	path = src/merm-schema
	url = https://github.com/meuCPD-Solucoes-Tecnologicas/merm-schema
[submodule "merm-schema"]
	path = merm-schema
	url = https://github.com/meuCPD-Solucoes-Tecnologicas/merm-schema
