# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vscode/extensions.json
src/components/AmplifyForm.tsx.ignore
src/example/mutations.ts
src/example/queries.ts
package-lock.json
syncfusion-license.txt

/amplify/

#amplify-do-not-edit-begin
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/mock-api-resources
amplify/backend/amplify-meta.json
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
**.sample
#amplify-do-not-edit-end
src/file_tests/mutations.ts
src/file_tests/old_schema.json
src/file_tests/queries.ts
src/file_tests/schema_24_02_com_modulos_e_grupos.json
src/file_tests/simple-schema.json
src/file_tests/schema_06_06.json
